body{
    background: url(https://t4.ftcdn.net/jpg/05/41/58/31/360_F_541583129_QdZO2sXg8Rj0OtpicHLc02x6uVjJLdP2.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.weather-box{
    border: 3px solid white;
    box-sizing: border-box;
    padding: 10%;
    border-radius: 18px;
    background-color: white;
}